<%/* Display footer only on /about page */%>
<% if (is_current('about/index.html')) { %>
  <footer id="footer" class="home-footer footer">
    <div id="copyright" class="copyright">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a> with <a href="https://github.com/geekplux/hexo-theme-typing" target="_blank">Typing</a> theme.
    </div>
  </footer>
<% } %>

