<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <%/* Date format is specified to skip timezone conversion */%>
  <time datetime="<%= date(post.date, 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]') %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
</a>
