<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <span class="archive-article-date"><%- partial('post/date') %></span>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      <span><%- post.excerpt %></span>
    </header>
  </div>
</article>
