<div class="archive-container">
  <%- partial('_partial/header', {}, { cache: false }) %>
    <hr class="header-hr"/>
  <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
</div>
