<div class="archive-container">
  <%- partial('_partial/header', {}, { cache: false }) %>
  <hr class="header-hr"/>
  <h2>Recent posts:</h2>
  <%- list_posts({
    amount: 10,
    class: 'index'
  }) %>
  <h2>Tags:</h2>
  <%- list_tags({
    amount: 0,
    class: 'index',
    transform: titleCase
  }) %>
</div>
